@import url('https://fonts.googleapis.com/css?family=Poppins:300,600,700|Raleway:400,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url("../images/bg-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 130px 110px 130px;
}

header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

header h1 {
  max-width: 546px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 52px;
  margin: 20px 0;
}

header p {
  max-width: 437px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

header a {
  max-width: 437px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background: #3DDCA1;
  padding: 15px 10px;
  margin: 20px 0;
}

.info-empresa {
  max-width: 1064px;
  background-color: #fff;
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(113, 89, 193, 0.15);
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -35px;
  margin: 0 auto;
  align-items: center;
}

.info-empresa h3 {
  font-size: 22px;
  color: #2B374A;
  font-weight: 600;
}

.info-empresa :nth-child(2) {
  color: #6E7B91;
  font-size: 16px;
  margin-left: -20px;
}

.info-empresa :nth-child(3) {
  color: #6E7B91;
  font-size: 14px;
  border: 0.4px solid #6E7B90;
  border-radius: 8px;
  padding: 5px 10px;
}

.info-empresa :nth-child(4) {
  color: #6E7B91;
  font-size: 16px;
  border: 1px solid #3DDCA1;
  border-radius: 8px;
  padding: 5px 10px;
  color: #3DDCA1;
  text-align: center;
  text-decoration: none;
}

.servicos {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.s-planejamento {
  padding: 10px;
  max-width: 525px;
}

.s-planejamento h3 {
  color: #6E1E74;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 40px;
}

.s-planejamento h3::after {
  content: '';
  background: #6E1E74;
  width: 28px;
  height: 2px;
  display: block;
  position: relative;
  left: -40px;
  top: -13px;
}

.s-planejamento p {
  color: #2B374A;
  font-size: 35px;
  font-weight: 700;
}

.s-planejamento h5 {
  color: #2B374A;
  font-size: 22px;
  color: #6E1E74;
  margin-top: 10px;
}

.s-opniao {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 490px;
  padding: 15px;
  align-items: flex-start;
  font-weight: 400;
  box-shadow: 0px 15px 50px rgba(113, 89, 193, 0.15);
}

.o-text {
  margin-left: 10px;
}

.o-text h4 {
  font-size: 16px;
  color: #555555;
  font-weight: 400;
}

.o-text h5 {
  font-size: 15px;
  color: #ABADB4;
  font-weight: 400;
}

.o-text p {
  font-size: 16px;
  color: #646464;
  margin-top: 10px;
}

@media screen and (max-width: 850px) {
  header {
    padding: 10px;
  }
  header a {
    margin: 55px 0;
  }
  .s-opniao {
    margin-top: 20px;
  }
}

@media screen and (max-width: 880px) {
  .info-empresa :nth-child(2) {
    display: none;
  }
}