@import url("https://fonts.googleapis.com/css?family=Poppins:300,600,700|Raleway:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url("../images/bg-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 130px 110px 130px;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

header h1 {
  max-width: 546px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 52px;
  margin: 20px 0;
}

header p {
  max-width: 437px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

header a {
  max-width: 437px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background: #3ddca1;
  padding: 15px 10px;
  margin: 40px 97px;
}

header a:hover {
  transform: scale(1.01);
}

.info-empresa {
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(113, 89, 193, 0.15);
  border-radius: 8px;
  padding: 19px 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -35px;
  margin: 0 auto;
  align-items: center;
}

.info-empresa h3 {
  font-size: 22px;
  color: #2b374a;
  font-weight: 600;
}

.info-empresa :nth-child(2) {
  color: #6e7b91;
  font-size: 16px;
}

.info-empresa div :nth-child(2) {
  color: #6e7b91;
  font-size: 16px;
}

.info-empresa input[type="text"] {
  color: #6e7b91;
  font-size: 14px;
  border: 0.4px solid #6e7b90;
  border-radius: 8px;
  padding: 10px 14px;
}

.info-empresa input[type="submit"] {
  color: #6e7b91;
  font-size: 16px;
  border: 1px solid #3ddca1;
  border-radius: 8px;
  padding: 9px 27px;
  color: #3ddca1;
  text-align: center;
  text-decoration: none;
  background: #fff;
  cursor: pointer;
}

.info-empresa input[type="submit"]:hover {
  transform: scale(1.01);
}

.servicos {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}

.s-planejamento {
  padding: 10px;
  max-width: 525px;
}

.s-planejamento h3 {
  color: #6e1e74;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 40px;
  font-weight: 400;
}

.s-planejamento h3::after {
  content: "";
  background: #6e1e74;
  width: 28px;
  height: 2px;
  display: block;
  position: relative;
  left: -40px;
  top: -13px;
}

.s-planejamento h1 {
  color: #2b374a;
  font-size: 35px;
  font-weight: 700;
  margin: 13px 0 20px 0;
}

.s-planejamento h5 {
  color: #2b374a;
  font-size: 22px;
  color: #6e1e74;
  font-weight: 400;
}

.s-opiniao {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 490px;
  padding: 46px 43px;
  align-items: flex-start;
  font-weight: 400;
  box-shadow: 0px 15px 50px rgba(113, 89, 193, 0.15);
}

.o-text {
  margin-left: 10px;
}

.o-text h4 {
  font-size: 16px;
  color: #555555;
  font-weight: 400;
}

.o-text h5 {
  font-size: 15px;
  color: #abadb4;
  font-weight: 400;
}

.o-text p {
  font-size: 16px;
  color: #646464;
  margin-top: 10px;
}

.servicos-explicativo {
  background: #f6f6f6;
  margin-top: 100px;
  padding: 70px 10px;
}

.s-explicativo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.s-explicativo div {
  max-width: 295px;
  margin-right: 10px;
}

.s-explicativo div h4 {
  color: #6e1e74;
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 600;
}

.s-explicativo div p {
  color: #646464;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.escolher-space {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.e-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.e-info h1 {
  color: #2b374a;
  font-size: 36px;
  margin-bottom: 13px;
  font-weight: 600;
}

.e-info h1 span {
  color: #6e1e74;
}

.e-info p {
  max-width: 539px;
  color: #6e7b91;
  font-size: 16px;
  font-weight: 400;
}

.e-sobre {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.e-sobre div {
  display: flex;
  width: 360px;
  box-shadow: 0px 15px 50px rgba(113, 89, 193, 0.15);
  border-radius: 8px;
  padding: 20px 20px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.e-sobre div h4 {
  color: #2b374a;
  border-left: 3px #6e1e74 solid;
  padding: 0px 17px;
  font-size: 22px;
  font-weight: 400;
}

.info-case {
  display: flex;
  margin-top: 130px;
  justify-content: space-between;
  align-items: center;
}

.info-case h1 {
  font-size: 36px;
  color: #2b374a;
  max-width: 534px;
  font-weight: 600;
}

.info-case h4 {
  color: #6e7b91;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.info-case h4 a {
  color: #6e1e74;
  text-decoration: none;
}

.cases-sucesso {
  margin-top: 77px;
}

.natura-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mais-natura {
  padding: 63px;
  background-image: url("../images/bgMaisNatural.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.franquia-natura {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-arrow {
  margin-top: 135px;
  position: relative;
  margin-left: -52px;
}

.franquia-natura {
  margin-top: -266px;
}

.franquia-natura div:nth-child(2) {
  margin-top: -144px;
}

.franquia-natura h5 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.franquia-natura h3 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.container-cases {
  max-width: 388px;
  background: #fff;
  padding: 18px;
  box-shadow: 0px 15px 50px rgba(113, 89, 193, 0.15);
  border-radius: 8px;
  margin-left: 5px;
}

.container-cases h3 {
  color: #2b374a;
  font-weight: 600;
  border-left: 2px #3bba91 solid;
  padding-left: 18px;
  margin-left: -18px;
  font-size: 22px;
}

.container-cases p {
  color: #6e7b91;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.cases-sucesso::after {
  margin: 40px auto 60px;
  max-width: 1200px;
  display: block;
  content: "";
  background-image: url("../images/bg-marcar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.info-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario h1 {
  color: #2b374a;
  font-weight: 400;
  font-size: 36px;
  font-weight: 600;
}

.formulario h3 {
  font-size: 16px;
  color: #6e7b91;
  font-weight: 600;
}

.formulario form {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px auto;
}

.formulario form p {
  margin-top: 10px;
  color: #6e7b90;
  font-weight: 600;
}

.formulario form input[type="text"] {
  margin-top: 5px;
  border: 0.5px #6e7b90 solid;
  border-radius: 10px;
  padding: 14px;
  color: rgb(110, 123, 144);
  font-style: italic;
  width: 100%;
  font-family: Poppins;
}

.formulario form input[type="submit"] {
  margin-top: 40px;
  border: none;
  background: rgb(61, 220, 161);
  border-radius: 10px;
  padding: 14px;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: Poppins;
  cursor: pointer;
  font-weight: 700;
}

.formulario form input[type="submit"]:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 1105px) {
  .e-sobre {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .e-sobre div {
    margin-top: 15px;
  }
  .natura-info {
    flex-direction: column;
    margin-top: 100px;
  }
  .container-cases {
    margin-top: 20px;
  }
  .franquia-natura div:nth-child(2) {
    margin-top: 0px;
  }
  .icon-arrow {
    margin-top: 87px;
  }
  .mais-natura {
    padding: 15px;
  }
}

@media screen and (max-width: 1040px) {
  .s-opiniao {
    margin-top: 30px;
  }
  .servicos-explicativo {
    margin-top: 49px;
  }
  .servicos-explicativo {
    padding: 34px 10px;
  }
  .s-explicativo div {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 850px) {
  header {
    padding: 10px;
  }
  header a {
    margin: 55px 0;
  }
  .s-opiniao {
    margin-top: 20px;
  }
}

@media screen and (max-width: 880px) {
  .info-empresa :nth-child(2) {
    flex-direction: column;
  }
}

@media screen and (max-width: 680px) {
  .info-case {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 13px;
  }
}